<footer class="footer">
  <small>
    The Microposts Blog
    by <a href="https://github.com/Laguna1">Oksana Petrova</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>