<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Microposts", microposts_path, id: "logo", class: "text-decoration-none" %>
        
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Help', help_path, class: "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "nav-link"  %>
          </li>
        </ul>
      </div>
    </header>